* {
	margin: 0;
	padding: 0;
	
}
.clearfix {
	clear: both;
}
#container {
	margin: 0 auto;
	width: 100%;
	background: F5F5F5;
}
	header {
		background: url(../pro_images/rheader.jpg);
		width: 100%;
		color: white;
		
	}
	#left_header {
		padding: 40px 0 5px 15px;
		font-family: 'Bungee Shade';
		font-size: 30px;
		float: left;
		margin-left: 20px;
		cursor: default;
		transition: 5s;
	}
	#left_header:hover {
		color: black;
	}
	.right_header {
		float: right;
	}
	.right_header ul {}
	.right_header ul li {
		float: left;
		list-style: none;
		padding: 85px 30px;
		font-size: 25px;
		font-family: 'Raleway';
		font-weight: bold;
		margin: 0 2px;
		text-shadow: 1px 1px 5px black;
		transition: 0.7s;
	}
	.right_header a {
		color: white;
	}
	.right_header ul li:hover {
		background: #edd7d9;
	}
	.right_header ul li:active {
		background: red;
	}
	main {

	}
	.main_img {
		width: 100%;
		height: 100%;	
	}
	
	.first_section {
		background-size: 100%;
		width: 100%;
		height: 100%;
		box-sizing: border-box;
		background: #F5F5F5;
	}
	    .section_heading {
	    	background: ;
	    	padding: 0 0;
	    }
	    .first_section h2 {
	    	padding: 2% 2%;
	    	text-align: center;
	    	font-size: 60px;
	    	text-shadow: 1px 1px 5px black;
	    	font-family: 'Raleway';
	    	color: white;
	    	margin-bottom: 40px;
	    	text-decoration: none;
	    	transition: 1s;
		}
	    .first_section h2:hover {
	    	background: #edd7d9;
	    }
	    .first_section .left_side {
	    	width:40%;
	    	float: left;
	    	margin-left: 2%;
	    }
	    .first_section .left_side img {
	    	width:100%;
	    	height:80%;
	    	border: 5px solid white;
	    	border-top-left-radius: 150px;
	    	border-bottom-right-radius: 40px;
	    }
	    .first_section .right_side {
	    	width:40%;
	    	float: right;
	    	color: black;
			padding: 30px;
	    	margin-right: 2%;
	    	border: 5px solid white;
	    	line-height: 30px;
	    	border-top-left-radius: 40px;
	    	border-bottom-right-radius: 150px;
			font-family: 'Raleway';
	    }
	    
	    	article {
	    	width: 31%;
	    	margin: 20px 2% 20px 0;
	    	float: left;
	    	color: ;
			font-family: 'Raleway';
	    }
	    .margin_left {
	    	margin-left: 1.5%;
	    }
	    .margin_right {
	    	margin-right: 0;
	    }
	    article img {
	    	width: 100%;
	    	margin: 0 0 0 0;
	    	padding: 0;
	    	transition: .7s	
	    }
	    article img:hover{
	    	transform: scale(1.5)
	    }
	    .img_block2 {
	    	height: 300px;
	    	overflow: hidden;
	    	border: 3px solid silver;
	    }
	    /* Not needed anymore, scale effect works better
	    @keyframes img_animation2 {
	    	from {width: 100%; }
	    	to {width: 110%;}
	    }
	    */
	    .article_padding {
	    	background: purple;
	    }
	    .article_title {
	    	text-align: center;
	    	font-size: 20px;
	    	margin: 15px;
	    	font-weight: bold;
	    }
	    .article_description {
	    	text-align: center;
	    }
	.second_section {
		padding: 0 0;
		background: #F5F5F5;
		
	}
	    .second_section h2 {
	    	padding: 2% 2%;
	    	text-align: center;
	    	font-size: 60px;
	    	text-shadow: 1px 1px 5px black;
	    	font-family: 'Raleway';
	    	color: white;
	    	margin-bottom: 40px;
	    	text-decoration: none;
	    	transition: 1s;
	    }
	    .second_section h2:hover {
	    	background: #edd7d9;
	    }
	    
	    #img1 {
	    	height: 90%;
	    	width: 90%;
	    	padding: 5%;
	    }
	    
	    .thumbnail {
          max-width: 20%;
          padding-left: 40%;
          padding-right: 40%;
		     
        }
        
        .lightbox {
        	
        	display: none;
        	position: fixed;
        	z-index: 999;
        	width: 100%;
        	height: 100%;
        	text-align: center;
        	top: 0;
        	left: 0;
        	background: rgba(0,0,0,0.8);
        }
        
        .lightbox img {
        	max-width: 90%;
        	max-height: 90%;
        	margin-top: 1%;
        }
        
        .lightbox:target {
        	outline: none;
        	display: block;
        }

	.third_section {
		background: #F5F5F5;
	}
	    .third_section h2 {
	    	padding: 2% 2%;
	    	text-align: center;
	    	font-size: 60px;
	    	text-shadow: 1px 1px 5px black;
	    	font-family: 'Raleway';
	    	color: white;
	    	margin-bottom: 40px;
	    	text-decoration: none;
	    	transition: 1s;
	    }
	    .third_section h2:hover {
	    	background: #edd7d9;
	    }
	footer {
		width: 100%;
		background: gray;
		height: 100px;
		color: white;
		background: url(../pro_images/rheader.jpg)
	}
	    .left_footer {
	    	float:left;
	    	padding: 20px;
	    }
	    .right_footer {
	    	padding:40px;
	    	float: right;
	    }
	    .right_footer ul {
	    	
	    }
	    .right_footer ul li {
	    	float: left;
	    	list-style: none;
	    	padding: 0 40px;
	    	font-weight: bold;
	    	font-size: 20px;
	    	font-family: 'Raleway';
	    	text-shadow: 1px 1px 5px black;
	    	color:white;
	    	transition: color 0.4s;
	    }	
	    .right_footer ul li:hover {
	    	color: #edd7d9;
	    }


